{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}



{{ define "main" }}

{{ $_lastMod := .Lastmod.Format "2006-01-02" }}
{{ $_date := .Date.Format "2006-01-02" }}

<!-- Title -->
<div class="Subhead">
  <div class="Subhead-heading">
    <div class="h1 mt-3 mb-1">{{ .Title }}</div>
  </div>
  <div class="Subhead-description">
    {{ partial "taxonomy.html" . }}

    {{ if ( default true .Params.showDate ) }}
    <div class="float-md-right">
      <span title="Lastmod: {{ .Lastmod.Format "2006-01-02" }}. Published at: {{ .Date.Format "2006-01-02" }}.">
	{{ if ne $_lastMod $_date }}
	  Lastmod: {{ dateFormat ( default "2006-01-02" .Site.Params.dateFormat ) .Lastmod }}
	{{ else }}
	  Published: {{ dateFormat "2006-01-02" .Date }}
	{{ end }}
      </span>
    </div>
    {{ end }}
  </div>
</div>
<article>
  <!-- Content -->
  <section class="pb-6 mb-3 border-bottom">
    {{ .Content }}
  </section>

  <section>
    {{ if (default true .Params.comments) }}
       {{ partial "gitalk.html" . }}
    {{ end }}
  </section>
</article>
{{ end }}

{{ define "side" }}
    {{ partial "toc.html" . }}
{{ end }}
